.details-page {
    display: flex;
    justify-content: center;
    background: #eaeaea;
    min-height: 100vh;
}
.details-page * h2 {
    margin-top: 1rem;
}
.details-page > .body {
    width: 100%;
    background: white;
    min-height: calc(100vh - 8rem);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

.star.light {
    color: gold;
}

.star.dark {
    color: grey;
}

.quiz-bar {
    margin-top: 1rem;
    display: flex;
}

.star-bar {
    margin-left: 1rem;
}

.world-map-button {

}

.bound-frame {
    margin-top: 3rem;
    width: 100%;
    flex: 1;
}

@media (min-width: 1000px) {
    .details-page > .body {
        width: 80%;
        min-width: 800px;
        max-width: 1100px;
    }

    .world-map-button {
        position: fixed;
        left: 30px;
        top: 15px;
    }

}


