.details-page {
    display: flex;
    justify-content: center;
    background: grey;
    min-height: 100vh;
}
.details-page * h2 {

}
.details-page > .body {
    width: 100%;
    background: white;
    min-height: 100vh;
}

@media (min-width: 800px) {
    .details-page > .body {
        width: 80%;
        min-width: 800px;
        max-width: 1100px;
    }
}


